.launch-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.launch-list-item {
  padding: 1rem 0.5rem;
  width: 45%;
  box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.launch-list-item a {
  text-decoration: none;
}

.left {
  color: black;
}

.right {
  color: #858796;
}

@media(max-width: 768px) {
  .launch-list {
    flex-direction: column;
  }
  .launch-list-item {
    width: 100%;
  }
}
