.launch-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.launch-list-item {
  background-color: white;
  padding: 0.5rem 1rem;
  width: 30%;
  box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}

@media(max-width: 768px) {
  .launch-list {
    flex-direction: column;
  }
  .launch-list-item {
    width: 100%;
  }
}
