body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

.rocket-ship {
  width: 34px;
  height: 34px;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
}

.mt {
  margin-top: 2rem;
}

@media(max-width: 768px) {
  .mt {
    margin-top: 1rem;
  }
}
