.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-center input {
  max-width: 30%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
}

.mt-2 {
  margin-top: 2rem;
}
